


<div *ngFor="let filter of filters$ | async" class="form-container">

  <mat-form-field class="form-select" *ngIf="filter.visible">
    <mat-label>{{filter.label}}:</mat-label>
    <mat-select [formControl]="filter.control" [id]="filter.name">
      <mat-option *ngFor="let datum of filter.dataStream | async" value="{{datum.key}}">
        {{datum.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div [ngStyle]="{display: 'flex', justifyContent:'space-between', width: '400px'}">
  <div *ngFor="let button of buttons$ | async" class="form-container">
    <button *ngIf="button.visible" [disabled]="!button.enabled">{{ button.label }}</button>
  </div>
</div>

<router-outlet></router-outlet>
